html
  overflow: scroll;
  overflow-x: hidden;
  background-color:#00ff00 !important

::-webkit-scrollbar 
  width: 0px;  
  background: transparent;  

::-webkit-scrollbar-thumb 
  background: #FF0000;

yt-live-chat-text-message-renderer 
  font-family: Impact, Charcoal, sans-serif !important
  background-color: transparent !important
  #timestamp
    font-size: 1.5em !important
    vertical-align: middle !important
    color: white !important
    font-weight: 700 !important
  img
    vertical-align: middle !important
    height: 2em !important;
    width: auto !important;
  #author-name
    font-size: 1.5em !important
    vertical-align: middle !important
    color: white !important
    font-weight: 700 !important
  #message
    font-size: 2em !important
    color: white !important
  #Emote
    vertical-align: middle



.message_container
  overflow-y: scroll !important;
  scroll-behavior: smooth