body
  background-color: #1e1e1e
  color: #ffffff
  font-family: sans-serif;
  padding: 10px;
  width: 400px;

h1{
  padding-left: 1em;
}

.hideDiv {
    display: none;
}

.container{
  display: flex;
  vertical-align: middle;
  height: 3.5em;
}

img{
  max-height: 100%;
}

hr
  border-color: #f00;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;

.section
  &:nth-child(1)
    .options-heading
      margin: 0

.options-heading
  margin: 10px 0 0 0

.options-description
  margin: 0 0 10px 0
  opacity: 0.8

table
  border: none
  border-spacing: 0
  width: 100%
  tr td
    padding: 0
    &:nth-child(1)
      width: 80%
    &:nth-child(2)
      width: 20%
      text-align: right

#save-status
  text-align: center
  opacity: 0
  transition: all 1s linear
  &.show
    opacity: 1
    transition: none

.options-table
  .option-row
    display:flex
    flex-direction: row
    align-items: space-between
    justify-content: space-between
  .option-cell
    padding-right: 5px
    &:last-child
      padding-right: 0px

.light-text
  color: rgba(#000, 0.6)

input[type=checkbox][disabled]
  outline: 1px solid red
  cursor: not-allowed
  opacity: .9

.info_button
  border-radius:2em
  margin-left: 135px;  
  transition: all 0.2s

.info_button:hover
  color: red